# ============================================================================
#        Project: Sirius_Education
#       Filename: kernel.config
#    Description: Configuração central de subsistemas e drivers do núcleo.
#                 y = Embutido (Built-in), m = Módulo Dinâmico (LKM), n = Desativado
# ============================================================================

# Configurações do Núcleo Base
CONFIG_HIGH_KERNEL=y
CONFIG_AVX2_SUPPORT=y
CONFIG_SMP=y

# Subsistema de Armazenamento e FS (Storage e Fat32 - Sempre Built-in no Kernel)
CONFIG_FS_FAT32=y
CONFIG_STORAGE_AHCI=y
CONFIG_STORAGE_IDE=n
CONFIG_FS_ISO9660=n

# Módulos e Drivers Dinâmicos (Gerados na pasta mods/)
CONFIG_FS_NTFS=n
CONFIG_NET_RTL8139=n
CONFIG_NET_E1000=n
CONFIG_SOUND_AC97=n
